<div class="container">
    <div class="row">
        <h5>Consult Celebrities</h5>
        <div class="col-md-3">
            <input class="form-control" type="date" name="date" value="2018-08-01" #date/>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-primary" (click)="searchCelebrities(date.value)">Search</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Newspaper</th>
                        <th>Url</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of celebrities; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{item.celebrity.Name}}</td>
                        <td>{{item.idImagen.split('/')[0]}}</td>
                        <td *ngIf="item.celebrity.Url == 'Nulo'">-</td>
                        <td *ngIf="item.celebrity.Url != 'Nulo'"><a href="item.celebrity.Url" target="_blank">{{item.celebrity.Url.substr(0,10)}}...</a></td>
                        <td><button class="btn btn-outline-primary" (click)="getS3Url(item.idImagen)">Imagen</button></td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="celebrities.length === 0 && firstSearch" class="alert alert-primary" role="alert">
                No results for {{date.value}}
            </div>
        </div>

        <div class="col-md-4">
            <img [src]="urlImagen" alt="" width="400" height="400">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="barChart"></canvas>
        </div>
    </div>
    <div class="row">
        <h5>(TODO) Grafica linear personaje/dia</h5>
    </div>
</div>